<!DOCTYPE html>
<html lang="{{ site.Language.Locale }}" dir="{{ or site.Language.Direction `ltr` }}">
<head>
  <meta charset="utf-8">
  <title>Redirecting to {{ "/archives/" | relLangURL }}...</title>
  <link rel="canonical" href="{{ "/archives/" | absLangURL }}">
  <meta http-equiv="refresh" content="0; url={{ "/archives/" | relLangURL }}">
  <meta name="robots" content="noindex, follow">
</head>
<body>
  <p>页面已移至 <a href="{{ "/archives/" | relLangURL }}">{{ T "archives" }}</a>。</p>
</body>
</html>
