<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header class="site-nav" role="banner">
    {{ partialCached "header.html" . site.Language.Lang }}
  </header>
  <main class="container {{ if .IsPage }}has-toc{{ end }}">
    {{- if .IsPage }}
    <div class="content-layout">
      <article class="post" role="article">
        {{ block "main" . }}{{ end }}
      </article>
      {{ partial "toc.html" . }}
    </div>
    {{- else }}
    <article class="post" role="article">
      {{ block "main" . }}{{ end }}
    </article>
    {{- end }}
  </main>
  <footer class="site-foot">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
